@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-WNY4SDPvfOzD: 16px;
  --plasmic-token-h-2: var(--token-WNY4SDPvfOzD);
  --token-cqJA1yQdkAti: #2a2b37;
  --plasmic-token-neutral-900: var(--token-cqJA1yQdkAti);
  --token-pB2p_GAccMY7: #383848;
  --plasmic-token-neutral-800: var(--token-pB2p_GAccMY7);
  --token-6aFk4ICESnPa: #48485c;
  --plasmic-token-neutral-700: var(--token-6aFk4ICESnPa);
  --token-GpLttFSxrpYc: #5c5d76;
  --plasmic-token-neutral-600: var(--token-GpLttFSxrpYc);
  --token-q3-bV0h2I97U: #656682;
  --plasmic-token-neutral-500: var(--token-q3-bV0h2I97U);
  --token-ZkarcyyJzZOw: #84859b;
  --plasmic-token-neutral-400: var(--token-ZkarcyyJzZOw);
  --token-QfqfrltyIlJo: #9898ab;
  --plasmic-token-neutral-300: var(--token-QfqfrltyIlJo);
  --token-0kncblsfb3b0: #b8b9c6;
  --plasmic-token-neutral-200: var(--token-0kncblsfb3b0);
  --token-T7viKfZjZ9EP: #cfd0d8;
  --plasmic-token-neutral-100: var(--token-T7viKfZjZ9EP);
  --token-a6PT1Uz2qhdm: #f0f0f3;
  --plasmic-token-neutral-050: var(--token-a6PT1Uz2qhdm);
  --token-neZe4yx1ME0t: 14px;
  --plasmic-token-body-small: var(--token-neZe4yx1ME0t);
  --token-yZCNO5HW1qGB: 20px;
  --plasmic-token-body-small-2: var(--token-yZCNO5HW1qGB);
  --token-a57dDyocPdG2: #01471e;
  --plasmic-token-success-text: var(--token-a57dDyocPdG2);
  --token-OmCHMJb0bQNa: #dffbea;
  --plasmic-token-success-bg: var(--token-OmCHMJb0bQNa);
  --token-drG7H1ncJss1: #aff5cb;
  --plasmic-token-success-200: var(--token-drG7H1ncJss1);
  --token-jApPnCWkgbPK: #87efb1;
  --plasmic-token-success-300: var(--token-jApPnCWkgbPK);
  --token-XkcFjTVq1Mia: #5fea97;
  --plasmic-token-success-400: var(--token-XkcFjTVq1Mia);
  --token-r8WIeqbcwHyJ: #37e57d;
  --plasmic-token-success-500: var(--token-r8WIeqbcwHyJ);
  --token-FVpCvDi7K0FT: #24bf63;
  --plasmic-token-success-600: var(--token-FVpCvDi7K0FT);
  --token-E1OMsyr8bXpg: #159649;
  --plasmic-token-success-700: var(--token-E1OMsyr8bXpg);
  --token-CdcND0svxrQv: #096e32;
  --plasmic-token-success-800: var(--token-CdcND0svxrQv);
  --token-QvU66Tx8IKrA: #d7faf8;
  --plasmic-token-secondary-100: var(--token-QvU66Tx8IKrA);
  --token-VvWwUTqZjKI1: #aff5f0;
  --plasmic-token-secondary-200: var(--token-VvWwUTqZjKI1);
  --token-l0vGzS1Cdvzw: #87efe8;
  --plasmic-token-secondary-300: var(--token-l0vGzS1Cdvzw);
  --token-1Lh9kvD9u25k: #5feae1;
  --plasmic-token-secondary-400: var(--token-1Lh9kvD9u25k);
  --token-ydVDiu86AQmi: #37e5db;
  --plasmic-token-secondary-500: var(--token-ydVDiu86AQmi);
  --token-ZsqTQxM7l87L: #24bfb5;
  --plasmic-token-secondary-600: var(--token-ZsqTQxM7l87L);
  --token-MPujtu_1kfcu: #15968e;
  --plasmic-token-secondary-700: var(--token-MPujtu_1kfcu);
  --token-nlIqmSe-cLoH: #096e67;
  --plasmic-token-secondary-800: var(--token-nlIqmSe-cLoH);
  --token-bjd4K734FvTf: #014743;
  --plasmic-token-secondary-900: var(--token-bjd4K734FvTf);
  --token-j262CgpcUL_k: #d8d8fa;
  --plasmic-token-primary-100: var(--token-j262CgpcUL_k);
  --token-CvtLdeRD_0s8: #b0b1f4;
  --plasmic-token-primary-200: var(--token-CvtLdeRD_0s8);
  --token-OQTf3KDUBVPA: #898bef;
  --plasmic-token-primary-300: var(--token-OQTf3KDUBVPA);
  --token-I99V-kJ090R3: #6164e9;
  --plasmic-token-primary-400: var(--token-I99V-kJ090R3);
  --token-vFZMvwAA4l7E: #3a3de4;
  --plasmic-token-primary-500: var(--token-vFZMvwAA4l7E);
  --token-fDqtg4284mPt: #2225bf;
  --plasmic-token-primary-600: var(--token-fDqtg4284mPt);
  --token-Cw1DRfxGN-Yj: #141696;
  --plasmic-token-primary-700: var(--token-Cw1DRfxGN-Yj);
  --token-t4vNVHyr4nOy: #08096e;
  --plasmic-token-primary-800: var(--token-t4vNVHyr4nOy);
  --token-4AWdXCVMI6kn: #010347;
  --plasmic-token-primary-900: var(--token-4AWdXCVMI6kn);
  --token-CVzs_yjuTi1J: #f2f3fd;
  --plasmic-token-primary-050: var(--token-CVzs_yjuTi1J);
  --token-NgrqptDpTdRU: #faf6d7;
  --plasmic-token-warning-100: var(--token-NgrqptDpTdRU);
  --token--OPu6N_TREro: #f5eeaf;
  --plasmic-token-warning-200: var(--token--OPu6N_TREro);
  --token-p9pyx0YFZpyU: #efe587;
  --plasmic-token-warning-300: var(--token-p9pyx0YFZpyU);
  --token-X4V17m39tLdh: #eadd5f;
  --plasmic-token-warning-400: var(--token-X4V17m39tLdh);
  --token-aOQaBUTrwHmx: #e5d437;
  --plasmic-token-warning-500: var(--token-aOQaBUTrwHmx);
  --token-Ofy4FBSlOTQF: #bfb024;
  --plasmic-token-warning-600: var(--token-Ofy4FBSlOTQF);
  --token-9dnMyBmXOA7y: #998c15;
  --plasmic-token-warning-700: var(--token-9dnMyBmXOA7y);
  --token--L9g5cVy0xa8: #6e6408;
  --plasmic-token-warning-800: var(--token--L9g5cVy0xa8);
  --token-IV4sYBGeXx6z: #383302;
  --plasmic-token-warning-900: var(--token-IV4sYBGeXx6z);
  --token-23yUNpbj9Yf3: #fad7d7;
  --plasmic-token-danger-100: var(--token-23yUNpbj9Yf3);
  --token-hUuXQG_v2nlX: #f18787;
  --plasmic-token-danger-300: var(--token-hUuXQG_v2nlX);
  --token-5K0e_rdL02xe: #f6afaf;
  --plasmic-token-danger-200: var(--token-5K0e_rdL02xe);
  --token-PXJtzbi7FS2r: #ed6060;
  --plasmic-token-danger-400: var(--token-PXJtzbi7FS2r);
  --token-lFw0JUCuuXCX: #e83838;
  --plasmic-token-danger-500: var(--token-lFw0JUCuuXCX);
  --token-R1LTI0LaLEig: #c22525;
  --plasmic-token-danger-600: var(--token-R1LTI0LaLEig);
  --token-btd0Jj_IipVV: #9c1616;
  --plasmic-token-danger-700: var(--token-btd0Jj_IipVV);
  --token-dW3m72dWoEYp: #6b0707;
  --plasmic-token-danger-800: var(--token-dW3m72dWoEYp);
  --token-ta-t9vpIWBhI: #360202;
  --plasmic-token-danger-900: var(--token-ta-t9vpIWBhI);
  --token-At_Ms58zEagT: #fdfdfd;
  --plasmic-token-neutral-0: var(--token-At_Ms58zEagT);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-7P4pn8R_xrFw_font-family: "Inter", sans-serif;
  --mixin-7P4pn8R_xrFw_font-size: 14px;
  --mixin-7P4pn8R_xrFw_font-weight: 400;
  --mixin-7P4pn8R_xrFw_font-style: normal;
  --mixin-7P4pn8R_xrFw_color: var(--token-QfqfrltyIlJo);
  --mixin-7P4pn8R_xrFw_text-align: left;
  --mixin-7P4pn8R_xrFw_text-transform: none;
  --mixin-7P4pn8R_xrFw_line-height: 21px;
  --mixin-7P4pn8R_xrFw_letter-spacing: -0.6%;
  --mixin-7P4pn8R_xrFw_white-space: pre-wrap;
  --mixin-7P4pn8R_xrFw_user-select: text;
  --mixin-7P4pn8R_xrFw_text-decoration-line: none;
  --mixin-7P4pn8R_xrFw_text-overflow: clip;
  --mixin-5C8y0jSUwuCw_color: var(--token-cqJA1yQdkAti);
  --mixin-5C8y0jSUwuCw_font-weight: 600;
  --mixin-5C8y0jSUwuCw_font-size: 26px;
  --mixin-5C8y0jSUwuCw_line-height: 32px;
  --mixin-5C8y0jSUwuCw_letter-spacing: -1%;
  --mixin-5C8y0jSUwuCw_white-space: pre-wrap;
  --mixin-FDVjOvUVFh5K_color: var(--token-cqJA1yQdkAti);
  --mixin-FDVjOvUVFh5K_font-size: 23px;
  --mixin-FDVjOvUVFh5K_font-weight: 700;
  --mixin-FDVjOvUVFh5K_line-height: 28px;
  --mixin-FDVjOvUVFh5K_font-family: "Inter", sans-serif;
  --mixin-FDVjOvUVFh5K_letter-spacing: -1%;
  --mixin-FDVjOvUVFh5K_white-space: pre-wrap;
  --mixin-XTZqOxxcVPsF_color: #0070f3;
  --mixin-XTZqOxxcVPsF_white-space: pre-wrap;
  --mixin-MaOymiIfGRva_color: var(--token-cqJA1yQdkAti);
  --mixin-MaOymiIfGRva_font-size: 20px;
  --mixin-MaOymiIfGRva_font-weight: 700;
  --mixin-MaOymiIfGRva_line-height: 24px;
  --mixin-MaOymiIfGRva_letter-spacing: -1%;
  --mixin-MaOymiIfGRva_font-family: "Inter", sans-serif;
  --mixin-MaOymiIfGRva_white-space: pre-wrap;
  --mixin-rBZXj-BV2Vle_color: var(--token-cqJA1yQdkAti);
  --mixin-rBZXj-BV2Vle_font-size: 18px;
  --mixin-rBZXj-BV2Vle_font-weight: 700;
  --mixin-rBZXj-BV2Vle_line-height: 24px;
  --mixin-rBZXj-BV2Vle_letter-spacing: -1%;
  --mixin-rBZXj-BV2Vle_font-family: "Inter", sans-serif;
  --mixin-rBZXj-BV2Vle_white-space: pre-wrap;
  --mixin-n7CcFt6rVV6y_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-n7CcFt6rVV6y_border-bottom-color: #dddddd;
  --mixin-n7CcFt6rVV6y_border-bottom-style: solid;
  --mixin-n7CcFt6rVV6y_border-bottom-width: 1px;
  --mixin-n7CcFt6rVV6y_border-left-color: #dddddd;
  --mixin-n7CcFt6rVV6y_border-left-style: solid;
  --mixin-n7CcFt6rVV6y_border-left-width: 1px;
  --mixin-n7CcFt6rVV6y_border-right-color: #dddddd;
  --mixin-n7CcFt6rVV6y_border-right-style: solid;
  --mixin-n7CcFt6rVV6y_border-right-width: 1px;
  --mixin-n7CcFt6rVV6y_border-top-color: #dddddd;
  --mixin-n7CcFt6rVV6y_border-top-style: solid;
  --mixin-n7CcFt6rVV6y_border-top-width: 1px;
  --mixin-n7CcFt6rVV6y_border-bottom-left-radius: 3px;
  --mixin-n7CcFt6rVV6y_border-bottom-right-radius: 3px;
  --mixin-n7CcFt6rVV6y_border-top-left-radius: 3px;
  --mixin-n7CcFt6rVV6y_border-top-right-radius: 3px;
  --mixin-n7CcFt6rVV6y_font-family: "Inconsolata";
  --mixin-n7CcFt6rVV6y_padding-bottom: 1px;
  --mixin-n7CcFt6rVV6y_padding-left: 4px;
  --mixin-n7CcFt6rVV6y_padding-right: 4px;
  --mixin-n7CcFt6rVV6y_padding-top: 1px;
  --mixin-n7CcFt6rVV6y_white-space: pre-wrap;
  --mixin-cVe-ccTlD_UR_border-left-color: #dddddd;
  --mixin-cVe-ccTlD_UR_border-left-style: solid;
  --mixin-cVe-ccTlD_UR_border-left-width: 3px;
  --mixin-cVe-ccTlD_UR_color: #888888;
  --mixin-cVe-ccTlD_UR_padding-left: 10px;
  --mixin-cVe-ccTlD_UR_white-space: pre-wrap;
  --mixin-eClXwr8ZaxL6_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-eClXwr8ZaxL6_border-bottom-color: #dddddd;
  --mixin-eClXwr8ZaxL6_border-bottom-style: solid;
  --mixin-eClXwr8ZaxL6_border-bottom-width: 1px;
  --mixin-eClXwr8ZaxL6_border-left-color: #dddddd;
  --mixin-eClXwr8ZaxL6_border-left-style: solid;
  --mixin-eClXwr8ZaxL6_border-left-width: 1px;
  --mixin-eClXwr8ZaxL6_border-right-color: #dddddd;
  --mixin-eClXwr8ZaxL6_border-right-style: solid;
  --mixin-eClXwr8ZaxL6_border-right-width: 1px;
  --mixin-eClXwr8ZaxL6_border-top-color: #dddddd;
  --mixin-eClXwr8ZaxL6_border-top-style: solid;
  --mixin-eClXwr8ZaxL6_border-top-width: 1px;
  --mixin-eClXwr8ZaxL6_border-bottom-left-radius: 3px;
  --mixin-eClXwr8ZaxL6_border-bottom-right-radius: 3px;
  --mixin-eClXwr8ZaxL6_border-top-left-radius: 3px;
  --mixin-eClXwr8ZaxL6_border-top-right-radius: 3px;
  --mixin-eClXwr8ZaxL6_font-family: "Inconsolata";
  --mixin-eClXwr8ZaxL6_padding-bottom: 3px;
  --mixin-eClXwr8ZaxL6_padding-left: 6px;
  --mixin-eClXwr8ZaxL6_padding-right: 6px;
  --mixin-eClXwr8ZaxL6_padding-top: 3px;
  --mixin-eClXwr8ZaxL6_white-space: pre-wrap;
  --mixin-rbBOzgrRKinT_display: flex;
  --mixin-rbBOzgrRKinT_flex-direction: column;
  --mixin-rbBOzgrRKinT_align-items: stretch;
  --mixin-rbBOzgrRKinT_justify-content: flex-start;
  --mixin-rbBOzgrRKinT_list-style-position: outside;
  --mixin-rbBOzgrRKinT_padding-left: 40px;
  --mixin-rbBOzgrRKinT_position: relative;
  --mixin-rbBOzgrRKinT_list-style-type: disc;
  --mixin-rbBOzgrRKinT_white-space: pre-wrap;
  --mixin-4fOQbOWZhLMh_display: flex;
  --mixin-4fOQbOWZhLMh_flex-direction: column;
  --mixin-4fOQbOWZhLMh_align-items: stretch;
  --mixin-4fOQbOWZhLMh_justify-content: flex-start;
  --mixin-4fOQbOWZhLMh_list-style-position: outside;
  --mixin-4fOQbOWZhLMh_padding-left: 40px;
  --mixin-4fOQbOWZhLMh_position: relative;
  --mixin-4fOQbOWZhLMh_list-style-type: decimal;
  --mixin-4fOQbOWZhLMh_white-space: pre-wrap;
  --mixin-preelGkTAfQR_color: var(--token-pB2p_GAccMY7);
  --mixin-preelGkTAfQR_font-size: 16px;
  --mixin-preelGkTAfQR_font-weight: 600;
  --mixin-preelGkTAfQR_line-height: 20px;
  --mixin-preelGkTAfQR_letter-spacing: -1%;
  --mixin-preelGkTAfQR_font-family: "Inter", sans-serif;
  --mixin-preelGkTAfQR_white-space: pre-wrap;
  --mixin-lG8M8Ii11mOY_color: var(--token-cqJA1yQdkAti);
  --mixin-lG8M8Ii11mOY_font-size: 14px;
  --mixin-lG8M8Ii11mOY_font-weight: 600;
  --mixin-lG8M8Ii11mOY_line-height: 20px;
  --mixin-lG8M8Ii11mOY_letter-spacing: 1%;
  --mixin-lG8M8Ii11mOY_font-family: "Inter", sans-serif;
  --mixin-lG8M8Ii11mOY_white-space: pre-wrap;
  --mixin-bC17QmKUTCyt_color: #3291ff;
  --mixin-bC17QmKUTCyt_white-space: pre-wrap;
  --mixin-Zx84J-3xhXun_white-space: pre-wrap;
  --mixin-mkAORsyA60XY_color: var(--token-6aFk4ICESnPa);
  --mixin-mkAORsyA60XY_font-family: "Inter", sans-serif;
  --mixin-mkAORsyA60XY_font-weight: 500;
  --mixin-mkAORsyA60XY_font-size: 16px;
  --mixin-mkAORsyA60XY_line-height: 24px;
  --mixin-mkAORsyA60XY_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-PfzDwQQV3b4W_white-space: pre-wrap;
  --plasmic-mixin-label-m_white-space: var(--mixin-PfzDwQQV3b4W_white-space);
  --mixin-n6MUNvGMwlex_white-space: pre-wrap;
  --plasmic-mixin-label-s_white-space: var(--mixin-n6MUNvGMwlex_white-space);
  --mixin-jtgg3mSnfNvs_box-shadow: 0px 12px 12px -6px #00000029,
    0px 0px 1px 0px #00000066;
  --plasmic-mixin-card-shadow_box-shadow: var(--mixin-jtgg3mSnfNvs_box-shadow);
  --mixin-jtgg3mSnfNvs_white-space: pre-wrap;
  --plasmic-mixin-card-shadow_white-space: var(
    --mixin-jtgg3mSnfNvs_white-space
  );
  --mixin-WPOsjzEyus15_white-space: pre-wrap;
  --plasmic-mixin-label-l_white-space: var(--mixin-WPOsjzEyus15_white-space);
  --mixin-W5rCRjWpVR6g_white-space: pre-wrap;
  --plasmic-mixin-l-heading_white-space: var(--mixin-W5rCRjWpVR6g_white-space);
  --mixin-lmXI79MCYHAf_box-shadow: 0px 0px 4px 0px #0000001a,
    0px 4px 16px 0px #00000033;
  --plasmic-mixin-card-component-shadow_box-shadow: var(
    --mixin-lmXI79MCYHAf_box-shadow
  );
  --mixin-lmXI79MCYHAf_white-space: pre-wrap;
  --plasmic-mixin-card-component-shadow_white-space: var(
    --mixin-lmXI79MCYHAf_white-space
  );
  --mixin-xc8_z3--8eU4_white-space: pre-wrap;
  --plasmic-mixin-body_white-space: var(--mixin-xc8_z3--8eU4_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-7P4pn8R_xrFw_font-family);
  font-size: var(--mixin-7P4pn8R_xrFw_font-size);
  font-weight: var(--mixin-7P4pn8R_xrFw_font-weight);
  font-style: var(--mixin-7P4pn8R_xrFw_font-style);
  color: var(--mixin-7P4pn8R_xrFw_color);
  text-align: var(--mixin-7P4pn8R_xrFw_text-align);
  text-transform: var(--mixin-7P4pn8R_xrFw_text-transform);
  line-height: var(--mixin-7P4pn8R_xrFw_line-height);
  letter-spacing: var(--mixin-7P4pn8R_xrFw_letter-spacing);
  white-space: var(--mixin-7P4pn8R_xrFw_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-5C8y0jSUwuCw_color);
  font-weight: var(--mixin-5C8y0jSUwuCw_font-weight);
  font-size: var(--mixin-5C8y0jSUwuCw_font-size);
  line-height: var(--mixin-5C8y0jSUwuCw_line-height);
  letter-spacing: var(--mixin-5C8y0jSUwuCw_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-FDVjOvUVFh5K_color);
  font-size: var(--mixin-FDVjOvUVFh5K_font-size);
  font-weight: var(--mixin-FDVjOvUVFh5K_font-weight);
  line-height: var(--mixin-FDVjOvUVFh5K_line-height);
  font-family: var(--mixin-FDVjOvUVFh5K_font-family);
  letter-spacing: var(--mixin-FDVjOvUVFh5K_letter-spacing);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-XTZqOxxcVPsF_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-MaOymiIfGRva_color);
  font-size: var(--mixin-MaOymiIfGRva_font-size);
  font-weight: var(--mixin-MaOymiIfGRva_font-weight);
  line-height: var(--mixin-MaOymiIfGRva_line-height);
  letter-spacing: var(--mixin-MaOymiIfGRva_letter-spacing);
  font-family: var(--mixin-MaOymiIfGRva_font-family);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-rBZXj-BV2Vle_color);
  font-size: var(--mixin-rBZXj-BV2Vle_font-size);
  font-weight: var(--mixin-rBZXj-BV2Vle_font-weight);
  line-height: var(--mixin-rBZXj-BV2Vle_line-height);
  letter-spacing: var(--mixin-rBZXj-BV2Vle_letter-spacing);
  font-family: var(--mixin-rBZXj-BV2Vle_font-family);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-n7CcFt6rVV6y_font-family);
  border-radius: var(--mixin-n7CcFt6rVV6y_border-top-left-radius)
    var(--mixin-n7CcFt6rVV6y_border-top-right-radius)
    var(--mixin-n7CcFt6rVV6y_border-bottom-right-radius)
    var(--mixin-n7CcFt6rVV6y_border-bottom-left-radius);
  padding: var(--mixin-n7CcFt6rVV6y_padding-top)
    var(--mixin-n7CcFt6rVV6y_padding-right)
    var(--mixin-n7CcFt6rVV6y_padding-bottom)
    var(--mixin-n7CcFt6rVV6y_padding-left);
  border-top: var(--mixin-n7CcFt6rVV6y_border-top-width)
    var(--mixin-n7CcFt6rVV6y_border-top-style)
    var(--mixin-n7CcFt6rVV6y_border-top-color);
  border-right: var(--mixin-n7CcFt6rVV6y_border-right-width)
    var(--mixin-n7CcFt6rVV6y_border-right-style)
    var(--mixin-n7CcFt6rVV6y_border-right-color);
  border-bottom: var(--mixin-n7CcFt6rVV6y_border-bottom-width)
    var(--mixin-n7CcFt6rVV6y_border-bottom-style)
    var(--mixin-n7CcFt6rVV6y_border-bottom-color);
  border-left: var(--mixin-n7CcFt6rVV6y_border-left-width)
    var(--mixin-n7CcFt6rVV6y_border-left-style)
    var(--mixin-n7CcFt6rVV6y_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-cVe-ccTlD_UR_color);
  padding-left: var(--mixin-cVe-ccTlD_UR_padding-left);
  border-left: var(--mixin-cVe-ccTlD_UR_border-left-width)
    var(--mixin-cVe-ccTlD_UR_border-left-style)
    var(--mixin-cVe-ccTlD_UR_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-eClXwr8ZaxL6_font-family);
  border-radius: var(--mixin-eClXwr8ZaxL6_border-top-left-radius)
    var(--mixin-eClXwr8ZaxL6_border-top-right-radius)
    var(--mixin-eClXwr8ZaxL6_border-bottom-right-radius)
    var(--mixin-eClXwr8ZaxL6_border-bottom-left-radius);
  padding: var(--mixin-eClXwr8ZaxL6_padding-top)
    var(--mixin-eClXwr8ZaxL6_padding-right)
    var(--mixin-eClXwr8ZaxL6_padding-bottom)
    var(--mixin-eClXwr8ZaxL6_padding-left);
  border-top: var(--mixin-eClXwr8ZaxL6_border-top-width)
    var(--mixin-eClXwr8ZaxL6_border-top-style)
    var(--mixin-eClXwr8ZaxL6_border-top-color);
  border-right: var(--mixin-eClXwr8ZaxL6_border-right-width)
    var(--mixin-eClXwr8ZaxL6_border-right-style)
    var(--mixin-eClXwr8ZaxL6_border-right-color);
  border-bottom: var(--mixin-eClXwr8ZaxL6_border-bottom-width)
    var(--mixin-eClXwr8ZaxL6_border-bottom-style)
    var(--mixin-eClXwr8ZaxL6_border-bottom-color);
  border-left: var(--mixin-eClXwr8ZaxL6_border-left-width)
    var(--mixin-eClXwr8ZaxL6_border-left-style)
    var(--mixin-eClXwr8ZaxL6_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-rbBOzgrRKinT_display);
  flex-direction: var(--mixin-rbBOzgrRKinT_flex-direction);
  align-items: var(--mixin-rbBOzgrRKinT_align-items);
  justify-content: var(--mixin-rbBOzgrRKinT_justify-content);
  list-style-position: var(--mixin-rbBOzgrRKinT_list-style-position);
  padding-left: var(--mixin-rbBOzgrRKinT_padding-left);
  position: var(--mixin-rbBOzgrRKinT_position);
  list-style-type: var(--mixin-rbBOzgrRKinT_list-style-type);
  flex-column-gap: var(--mixin-rbBOzgrRKinT_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-4fOQbOWZhLMh_display);
  flex-direction: var(--mixin-4fOQbOWZhLMh_flex-direction);
  align-items: var(--mixin-4fOQbOWZhLMh_align-items);
  justify-content: var(--mixin-4fOQbOWZhLMh_justify-content);
  list-style-position: var(--mixin-4fOQbOWZhLMh_list-style-position);
  padding-left: var(--mixin-4fOQbOWZhLMh_padding-left);
  position: var(--mixin-4fOQbOWZhLMh_position);
  list-style-type: var(--mixin-4fOQbOWZhLMh_list-style-type);
  flex-column-gap: var(--mixin-4fOQbOWZhLMh_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-preelGkTAfQR_color);
  font-size: var(--mixin-preelGkTAfQR_font-size);
  font-weight: var(--mixin-preelGkTAfQR_font-weight);
  line-height: var(--mixin-preelGkTAfQR_line-height);
  letter-spacing: var(--mixin-preelGkTAfQR_letter-spacing);
  font-family: var(--mixin-preelGkTAfQR_font-family);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-lG8M8Ii11mOY_color);
  font-size: var(--mixin-lG8M8Ii11mOY_font-size);
  font-weight: var(--mixin-lG8M8Ii11mOY_font-weight);
  line-height: var(--mixin-lG8M8Ii11mOY_line-height);
  letter-spacing: var(--mixin-lG8M8Ii11mOY_letter-spacing);
  font-family: var(--mixin-lG8M8Ii11mOY_font-family);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-bC17QmKUTCyt_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
  color: var(--mixin-mkAORsyA60XY_color);
  font-family: var(--mixin-mkAORsyA60XY_font-family);
  font-weight: var(--mixin-mkAORsyA60XY_font-weight);
  font-size: var(--mixin-mkAORsyA60XY_font-size);
  line-height: var(--mixin-mkAORsyA60XY_line-height);
}
